header {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue-dark);
  border-bottom: 8px solid var(--black-third);
  padding: 10px 20px;
}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  font-size: 20px;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font: 500;
  text-decoration: none;
  margin-right: 30px;
}

a::before {
  content: "";
  background-color: var(--pink-light);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

a:hover {
  color: var(--black-second);
}

#button {
  display: inline-block;
  background-color: var(--pink-light);
  box-shadow: 5px 5px 0px var(--black-first);
  padding: 18px 20px;
  margin-right: 0;
  transition: transform 100ms cubic-bezier(.45, .97, .68, .2, .48);
}

#button:hover {
  transform: scale(1.05);
  background-color: var(--pink-light-darker);
  color: var(--black-second)
}