:root {
  /* MAIN */
  --blue-dark: #3d538d;
  --pink-light: #F25A70;
  --pink-light-darker: #ff0026cc;

  /* SECONDARY */
  --white: #fff;
  --green: #1b712d;
  --green-dark: #075327;
  --blue-light: #cce9e6;
  --ciano-dark: #6b9d9a;
  --green-happy: #627b57;
  --brown-dark: #373001;

  /* BLACK */
  --black-first: #000;
  --black-second: #000000b3;
  --black-third: #00000066;
}