:root {
  /* BLACK */
  --color-black-first: #000000;
  --color-black-second: #3A4042;
  --color-black-third: #828282;

  /* MAIN */
  --color-first: #F25A70;
  --color-second: #7C5E99;
  --color-third: #fff;
  --color-fourth: #4C5B84;

  /* SECONDARY */
  --color-error: #BA1F33;
  --color-success: #62C370;
  --color-warning: #CEB02A;
}