.action {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  font-style: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

.action::before {
  content: "";
  background-color: var(--pink-light);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}