.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-second);
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 0px var(--color-third);
}