.main-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-second);
  border-bottom: 10px solid var(--color-black-first);
  padding: 10px 20px;
}

@media (max-width: 980px) {
  .main-header > .menu {
    display: none;
  }
}