.main-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-second);
  border-bottom: 10px solid var(--color-black-first);
  padding: 10px 20px;
}

@media (max-width: 980px) {
  .main-header > .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-black-first);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px;
  }

  .main-header .main-action {
    display: flex;
  }
}

@media (min-width: 980px) {
  .main-header > .icon-menu {
    display: none;
  }
}