.main-footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-black-first);
  padding: 28px 0 28px 0;
}

.main-footer .action {
  margin-right: 20px;
  margin-left: 20px;
}