.section {
  background-color: var(--color-first);
  padding: 50px 0px 100px 0px;
  border-bottom: 10px solid var(--color-fourth);
}

.section .main-title {
  margin-bottom: 60px;
}

.section.-bgBlack {
  background-color: var(--color-black-first);
}

.section.-bdColor {
  border-color: var(--color-third);
}